<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
    </script>
</head>

<body>
    <nav>
        <div class="nav-wrapper blue accent-4 nav">
            <a href="#" class="brand-logo black-text text-darken-2">Event Management</a>
        </div>
    </nav>

    <div class="btn-container">
        <button class="add-event btn light-blue accent-3 p-button btn-large" id="addEventBtn">Add
            Event</button>
        <button class="add-category btn cyan accent-3 p-button btn-large" id="addCategoryBtn">Add
            Category</button>
    </div>

    <!-- Category Filter Section -->
    <div class="category-filters">
        <h4>Filter by Categories</h4>
        <div id="scroll-container" class="options-container">

        </div>
    </div>

    <!--events-->
    <div class="card-container" id="event-container">
    </div>
    <div id="spinner" class="spinner"></div>

    <!-- Google Map -->
    <h4>Event Locations</h4>
    <div id="map"></div>

    <!--Add Category Side Panel -->
    <div id="sidePanelC" class="side-panel">
        <span id="closePanel" class="close-btn"><i class="material-icons">close</i></span>
        <h4>Event Categories</h4>

        <form action="/categories" method="POST" id="categoryForm" onsubmit="return validateCategory();">
            <div class="input-field">
                <input type="text" id="name" name="name" required>
                <label for="name">Category Name</label>
            </div>
            <input type="submit" class="btn cyan accent-3" value="Add"/>
        </form>

        <div class="category-list" id="categoryList">
        </div>
    </div>

    <!-- Add Event Side Panel -->
    <div id="sidePanelE" class="side-panel">
        <span id="closePanelE" class="close-btn"><i class="material-icons">close</i></span>

        <form id="eventForm">
            <h4>Add Event</h4>
            <div class="input-field">
                <input id="event-name" type="text" required>
                <label for="event-name">Event Name</label>
            </div>
            <div class="input-field">
                <textarea id="details" class="materialize-textarea"></textarea>
                <label for="details">Event Details</label>
            </div>
            <div class="input-field">
                <label for="date">Date</label>
                <input type="text" id="date" class="datepicker" required>

            </div>
            <div class="input-field">
                <input type="text" id="timeStart" class="timepicker" required>
                <label for="timeStart">Start Time</label>
            </div>
            <div class="input-field">
                <input type="text" id="timeEnd" class="timepicker" required>
                <label for="timeEnd">End Time</label>
            </div>
            <div class="input-field">
                <input id="event-location" type="text" required>
                <label for="event-location">Location</label>
            </div>
            <div class="input-field">
                <input id="organizerName" type="text" required>
                <label for="organizerName">Organizer's Name</label>
            </div>
            <div class="input-field">
                <input id="organizerContact" type="text" required>
                <label for="organizerContact">Organizer's Contact Number</label>
            </div>
            <div class="input-field">
                <select multiple id="selectCategory" class="materialSelect" required></select>
                <label>Categories</label>
            </div>

            <div class="file-field input-field">
                <div class="waves-effect waves-light btn"><i class="material-icons left">arrow_upward</i>Upload
                    <input type="file" accept="image/*" id="event-banner">
                </div>

                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" required>
                </div>
                <img id="imagePreview">
            </div>

            <div class="modal-footer">
                <button id="cancel" class="btn blue lighten-3">Cancel</button>
                <button type="submit" class="btn cyan accent-3">Add Event</button>
            </div>
        </form>
    </div>

    <!--Event Detail Modal-->
    <div id="eventModal" class="modal">
        <!--Event View-->
        <div class="modal-content" id="event-details-view">
            <h4 id="modal-title" class="modal-header">Event Details</h4>
            <p id="modal-content" class="modal-body">Event description goes here...</p>
        </div>

        <!--Event Update View-->
        <div class="container">
            <form id="edit-event-form" style="display: none;">
                <h4>Update Event</h4>
                <br>
                <div class="input-field">
                    <input id="edit-event-name" type="text" placeholder="" required>
                    <label for="edit-event-name">Event Name</label>
                </div>
                <div class="input-field">
                    <textarea id="edit-details" class="materialize-textarea" placeholder=""></textarea>
                    <label for="edit-details">Event Details</label>
                </div>
                <div class="input-field">
                    <label for="edit-date">Date</label>
                    <input type="text" id="edit-date" class="datepicker" placeholder="" required>

                </div>
                <div class="input-field">
                    <input type="text" id="edit-timeStart" class="timepicker" placeholder="" required>
                    <label for="edit-timeStart">Start Time</label>
                </div>
                <div class="input-field">
                    <input type="text" id="edit-timeEnd" class="timepicker" placeholder="" required>
                    <label for="edit-timeEnd">End Time</label>
                </div>
                <div class="input-field">
                    <input id="edit-event-location" type="text" placeholder="">
                    <label for="edit-event-location">Location</label>
                </div>
                <div class="input-field">
                    <input id="edit-organizerName" type="text" placeholder="" required>
                    <label for="edit-organizerName">Organizer's Name</label>
                </div>
                <div class="input-field">
                    <input id="edit-organizerContact" type="text" placeholder="" required>
                    <label for="edit-organizerContact">Organizer's Contact Number</label>
                </div>
                <div class="input-field">
                    <select multiple id="edit-selectCategory" class="materialSelect"></select>
                    <label>Categories</label>
                </div>

                <div class="file-field input-field">
                    <div class="waves-effect waves-light btn"><i class="material-icons left">arrow_upward</i>Upload New
                        <input type="file" accept="image/*" id="edit-event-banner">
                    </div>

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    <img id="edit-imagePreview">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="waves-effect waves-light blue btn" id="edit-event-btn">Update</a>
            <a href="" class="waves-effect waves-light red btn" id="delete-event-btn">Delete</a>
            <a id="save-update-btn" class="waves-effect waves-light green btn" style="display:none;">Save</button>
            <a href="" class="modal-close waves-effect waves-light btn">Back</a>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>

    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
            ({ key: "AIzaSyDV1mLpG7FgmDa9vyXga5l7uJGfM0Sz-Vc", libraries: "places", v: "weekly" });</script>

    <script>
    </script>


</body>

</html>