<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Admin</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
    </script>
</head>

<body>
    <nav>
        <div class="nav-wrapper light-blue accent-4 nav">
          <a href="#" class="brand-logo right">Profile</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="sass.html">Home</a></li>
            <li><a href="/">Events</a></li>
            <li><a href="/">Communities</a></li>
            <li><a href="/FAQ/User">FAQ</a></li>
            <li><a href="/FAQ">FAQ Admin</a></li>
          </ul>
        </div>
    </nav>

    <div class="faq-admin-page center-card row">
      <div class="col s12 m8 offset-m2">

        <div class="card-panel">
          <span class="faq-admin-page white-text"><h4>Add FAQ</h4></span>

          <div class="row">
            <form class="faq-admin-page col s12">
              <div class="faq-admin-page input-field">
                <input placeholder="Add a question" id="question" type="text" class="validate">
                <label class="blue-text" for="question">Question</label>
              </div>
              <div class="input-field">
                <input placeholder="Add an answer" id="answer" type="text" class="validate">
                <label class="blue-text" for="answer">Answer</label>
              </div>
              <div class="center-align">
                <a class="light-blue center waves-effect waves-light btn-large" id="submitButton">Submit</a>
              </div>
            </form>
          </div>

        </div>

        <!-- <div class="center-align">
          <a class="light-blue waves-effect waves-light btn" id="refreshButton">Refresh FAQ List</a>
        </div> -->

        <div class="card-panel-list grey">
          <div class="faq-list">
            <h4 class="list-headline">List of FAQs</h4>
            <ul class="faqcontainer" id="FAQList"></ul>
          </div>
        </div>

      </div>
    </div>
    
</body>

</html>